* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4582ec;
    font-size: 12px;
    display: inline-block;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}