* {
    margin: 0;
    padding: 0;
}



/* 滚动条 */
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #d3dbdf;
}
body::-webkit-scrollbar-thumb:hover {
    background: #b0bcc0;
}
body div::-webkit-scrollbar, body textarea::-webkit-scrollbar, body pre::-webkit-scrollbar, body table::-webkit-scrollbar, body ul::-webkit-scrollbar, body ol::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body div::-webkit-scrollbar-thumb, body textarea::-webkit-scrollbar-thumb, body pre::-webkit-scrollbar-thumb, body table::-webkit-scrollbar-thumb, body ul::-webkit-scrollbar-thumb, body ol::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #d3dbdf;
}
body div::-webkit-scrollbar-thumb:hover, body textarea::-webkit-scrollbar-thumb:hover, body pre::-webkit-scrollbar-thumb:hover, body table::-webkit-scrollbar-thumb:hover, body ul::-webkit-scrollbar-thumb:hover, body ol::-webkit-scrollbar-thumb:hover {
    background: #b0bcc0;
}
.__scroll__ {
    position: absolute;
    width: 11px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* cursor: pointer; */
}




/* 表格 */
.__F_Table__ {
    position: relative;
    display: inline-block;
    max-width: 100%;
}
.__table__ {
    border: 1px solid #d4d4d4;
    /* border-radius: 5px; */
    overflow: hidden;
    overflow-x: auto;
    font-size: 12px;
    position: relative;
    user-select: none;
}
.__table__ > .thead {
    display: flex;
}
.__table__ > .thead > .tfield {
    padding: 5px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    width: 100px;
    min-width: 100px;
    max-width: 200px;
    background: linear-gradient(#ffffff, #efefef);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
}
.__table__ > .thead > .tfield:last-child {
    border-right: none;
}
.__table__ > .tbody > .tbody_item {
    display: flex;
    height: 30px;
}
.__table__ > .tbody > .tbody_item:last-child {
    border-bottom: none;
}
.__table__ > .tbody > .tbody_item > div {
    padding: 0 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100px;
    min-width: 100px;
    max-width: 200px;
    overflow: hidden;
    line-height: 29px;
}
.__table__ > .tbody > .tbody_item > div:last-child {
    border-right: none;
}
.__table__ > .tbody > .tbody_item:last-child > div {
    border-bottom: none;
}

.__page_column__ {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid rgb(216, 216, 216);
    border-top: none;
    font-size: 12px;
}
.__page_column__ > div {
    margin: 0 6px;
}
.__page_column__ .page_num {
    display: flex;
    align-items: center;
}
.__page_column__ .page_num_input {
    width: 32px;
    height: 20px;
    border: 1px solid #D4D4D4;
    text-align: center;
    font-size: 14px;
}
.__page_column__ .page_split {
    margin: 0 8px;
}